body{
  padding: 5px;
  background-color: black;
  color: white;
  font-size: 15px;
  font-family: Arial,Courier New,Times New Roman;
}
@media screen and (max-width: 1200px) { .menu { width: 100%; } }
@media screen and (min-width: 1200px) { .menu { width: 30%; } }
a{
  color: white;
  text-decoration: none;
  font-size: 18px;
}
@font-face{
  font-family: "Air";
  src: url(Font/Air.ttf)
}
hr{
  background-color: red;
  border:.5px solid red;
}
.head{
  margin: 0;
  padding: 0;
  background-image: url(media/bc2-website.jpg);
  background-attachment: fixed;
  background-size: cover;
}
.header{
  display: inline-block;
  align-items: center;
  color: white;
  display: flex;
  padding: 0;
  transition-name:bouncing;
  transition-delay: .5s;
  transition-duration: .5s;
  transition-property: all;
  transition-timing-function: ease;
}
@keyframes bouncing{
  
}
.header img{
  width: 50px;
}

.header h2{
  text-align: center;
  margin-left: 1% ;
}
.header:hover{
  margin-left: 30px;
}

.contener{
  display: block;
  margin-top: ;
  padding-top: 37%;
  padding-bottom: 50%;
  justify-content: center;
  text-align: center;
  align-content: center;
  height: 80%;
}

#logo{
  display: inline-block;
  width: 150px;
  padding: 10px;
  margin: 0 10%
  justify-content: center;
  align-content: center;
}

.option {
  margin-top: 7%;
  display: flex;
  justify-content: center;
}

.contener .option a{
  text-decoration: none;
  color: white;
  padding: 7px;
  margin:0 3%;
  height: 50%;
  width: 30%;
  border: 2px solid red ;
  border-radius: 50px;
  align-items: center;
  transition-duration: .5s;
  transition-delay: .5s;
  transition-property: all;
  transition-timing-function: ease;
}
.contener .option a:hover{
  background-color: red;
  width: 55%;
}
.de-de {
  padding: 20px;
  margin-top: 10px;
  display: block;
}

.de-de .p{
  margin-left: 40px;
  
}
.de-de h2{
  display: inline;
  border-left: 5px solid red;
  border-bottom: 2px solid red;
  padding: 5px;
}

.de-de .pa p{
  margin-top: 10px;
  font-size: 18px;
  text-align: left;
}
.course {
  display: flex;
}
.course .intro-1{
  width: 40%;
  align-content: center;
}

.course .c-j {
  display: block;
  padding: 10px;
  margin: 7% 5px;
  vertical-align: middle;
}
.course .c-j p{
  display: block;
  margin: 5px 5px;
  vertical-align: center;
  text-align: center;
  font-size: 20px;
}

.course .c-j a{
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  margin:20px 26%;
  width: 50%;
  text-align: center;
  background-color: red;
} 

.service {
  padding: 10px;
  margin: 20px 5px;
}
.service span h1{
  display: inline;
  border-left: 5px solid red;
  border-bottom: 2px solid red;
  padding: 5px;
}
.service .option{
  display: block;
}

.service .option div{
  display: flex;
}
.service .option .service{
  width: 30%;
  border-radius: 30px;
}
.service .option .service img{
  width: 200p;
  border-radius: 30px;
}
.service .option .dec{
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 9%;
  padding: 7%;
}
.service .option .dec h2,p{
  padding: 5px;
  margin: 5px;
  vertical-align: middle;
  text-align: center;
  display: block;
}
.service .option .dec p{
  font-size: 30px;
  text-align: center;
  color: #25f800;
}
.submit{
  display: inline-block;
  border: red solid 2px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin: 5px 20%;
  padding: 5px;
  overflow-x: hidden;
}
.submit input,textarea,button{
  padding: 5px;
  margin:5px ;
  font-size: 20px;
  width: 400px;
  justify-content: center;
  align-items: center;
  border: red solid 1px;
  border-radius: 10px;
}
.submit #text{
  height: 200px;
}
footer{
  text-align: center;
  height: 30px;
}